<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}
    <title>Register Here</title>
</head>
<body>
    {{>navbar}}
    <h1 style="color: green;">HELLO You are Sucessfull Login to your Acoount</h1>
</body>
{{>footer}}
</html>